doctype html
html(lang="en")
    head
        include partials/header
    body.login 
        .contenedor-formulario 
            h1 Iniciar Sesi칩n
            
            if locals.mensajes
                .alertas 
                    each categoria in Object.keys(locals.mensajes)
                        each error in mensajes[categoria]
                            .alerta(class=`${categoria}`) 
                                p=error
            form#formulario.caja.caja-login(method="POST" action="/iniciar-sesion")
                .campo 
                    label(for="email") Correo
                    input(type="email" name="email" value= email placeholder="Ingresa tu correo" autocomplete="off" require)
                .campo
                    label(for="password") Contrase침a
                    input(type="password" name="password" value= password placeholder="Ingresa tu contrase침a" require autocomplete="off")
                .campo.enviar 
                    input.boton(type="submit" value="Iniciar Sesion")
                .campo.acciones 
                    //a(href="/crear-cuenta") Crear Cuenta de usuario

                    a(href="/reestablecer") Olvidaste tu Contrase침a?
        script(src="/dist/bundle.js") 