doctype html
html(lang="en")
    head
        include partials/header
    body.login 
        .contenedor-formulario 
            h1= nombrePagina 
            p Coloca tu nueva Contraseña

          
                                
            form.caja-login(method="POST" )
                .campo 
                    label(for="password") Nueva Contraseña 
                    input(type="password" name="password" autocomplete="off" placeholder="Ingresa tu nueva contraseña")
                .campo.enviar 
                    input.boton(type="submit" value="Reestablecer")
                